{{!< main}}

<h2>Xin chào {{name}},</h2>
<p>Cảm ơn bạn đã mua hàng tại AlexStore!</p>

<p>Đơn hàng của bạn <strong>#{{orderCode}}</strong> đã được đặt thành công và hiện đang chờ Người bán xác nhận.</p>
<p>Bạn có thể theo dõi trạng thái đơn hàng bất cứ lúc nào trong mục <strong>Đơn hàng của tôi</strong> trên website.</p>

<br>
<p>Chúc bạn một ngày vui vẻ!</p>
<p>Trân trọng,<br>Đội ngũ AlexStore</p>
