{{!< main}}

<h2>Xin chào {{name}},</h2>
<p>Chúng tôi đã nhận được yêu cầu đăng ký trở thành Người Bán (Seller) của bạn với tên cửa hàng: <strong>{{shopName}}</strong>.</p>

<p>Hồ sơ của bạn hiện đang được chuyển đến Ban quản trị để <strong>chờ xét duyệt</strong>! Quá trình này có thể mất từ 1-2 ngày làm việc.</p>

<p>Chúng tôi sẽ gửi email thông báo ngay khi có kết quả.</p>

<br>
<p>Cảm ơn bạn đã tin tưởng chọn AlexStore để đồng hành!<br>Đội ngũ hỗ trợ đối tác AlexStore</p>
